.memetext{
	font-size: 20px;
	font-family: Impact, Helvetica, sans-serif;
}

.title{
	font-family: Impact, Helvetica, sans-serif;
	font-size: 30px;
}

.upload{
	font-family: Impact, Helvetica, sans-serif;
	font-size: 20px;
}


#download{
	text-decoration: none;
	font-family: Impact, Helvetica, sans-serif;
	font-size: 20px;
	color: black;

}

#canvas{
	width: 500px;
}

html{
	height: 100%;
	padding: 0px 0px 300px 0px;
}

body{
	background-image: url("https://i.imgur.com/4GshEFp.jpg");
	background-position: center;
	background-size: cover;
	/*background-repeat: no-repeat;*/
}
